<div class="card-plain">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-5 mx-auto card">
                <div class="card-header">
                    <h4 class="card-title">Friend Requests Sent</h4>
                    <p class="card-category" *ngIf="!requestsSend.length">There are no friend requests sent </p>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled team-members" *ngFor="let item of requestsSend">
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img alt="Circle Image" class="img-circle img-no-padding img-responsive"
                                            [src]=item.avatar>
                                    </div>
                                </div>
                                <div class="col-md-7 col-7">
                                    {{item.firstname}} {{item.lastname}} <br>
                                    <span class="text-muted"><small>{{item.username}}</small></span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <button (click)="cancelRequest(item.id)"
                                        class="btn btn-sm btn-outline-danger btn-round btn-icon mx-1">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 mx-auto card">
                <div class="card-header">
                    <h4 class="card-title">Friend Requests Received</h4>
                    <p class="card-category" *ngIf="!requestsReceived.length">There are no friend requests Received </p>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled team-members" *ngFor="let item of requestsReceived">
                        <li>
                            <div class="row">
                                <div class="col-md-2 col-2">
                                    <div class="avatar">
                                        <img alt="Circle Image" class="img-circle img-no-padding img-responsive"
                                            [src]=item.avatar>
                                    </div>
                                </div>
                                <div class="col-md-7 col-7">
                                    {{item.firstname}} {{item.lastname}} <br>
                                    <span class="text-muted"><small>{{item.username}}</small></span>
                                </div>
                                <div class="col-md-3 col-3 text-right">
                                    <button (click)="acceptFriend(item.id)"
                                        class="btn btn-sm btn-outline-success btn-round btn-icon mx-1">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    <button (click)="refuseFriend(item.id)"
                                        class="btn btn-sm btn-outline-danger btn-round btn-icon mx-1">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
    
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card card-plain">
                    <div class="card-body text-center">
                        <div class="card-header">
                            <div class="row">
                                <h4 class="card-title"><span>List Friends</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ml-auto">
                <div class="card card-plain">
                    <div class="card-body text-center">
                        <div class="card-header">
                            <div class="d-flex justify-content-end" *ngIf="friends.length">
                                <button class="btn btn-primary btn-round btn-icon" *ngIf="filterDirection"
                                    (click)="filterType()"><i class="fa fa-chevron-up"></i></button>
                                <button class="btn btn-primary btn-round btn-icon" *ngIf="!filterDirection"
                                    (click)="filterType()"><i class="fa fa-chevron-down"></i></button>
                                <div class="col-md-8">
                                    <div class="dropdown">
                                        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                                            id="dropdownMenuButton" type="button"
                                            class="dropdown-toggle btn btn-primary btn-round btn-block"> Filters
                                        </button>
                                        <div aria-labelledby="dropdownMenuButton" x-placement="bottom-end"
                                            class="dropdown-menu dropdown-menu-right"
                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1px, 38px, 0px);">
                                            <div class="dropdown-header">Filter Results Obtained</div>
                                            <a class="dropdown-item" *ngFor="let item of filters"
                                                (click)="filterResults(item.id)">{{item.type}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-plain">
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
        <h3 class="title mt-4 text-center" *ngIf="!friends.length">No friends found</h3>
        <div class="row">
            <div class="col-md-3 py-3" *ngFor="let item of friends">
                <div class="card card-plain">
                    <div class="card-body">
                        <div class="card card-user">
                            <div class="">
                                <div class="author">
                                    <a href="javascript:void(0)" class="disabled" tabindex="-1">
                                        <img alt="..." class="avatar border-gray" [src]=item.avatar>
                                        <h5 class="title">{{item.firstname}} {{item.lastname}}</h5>
                                    </a>
                                    <p class="description"> @{{item.username}} </p>
                                    <button class="btn btn-danger btn-round" (click)="removeFriend(item.id)">Remove Friend</button>
                                </div>
                            </div>
                            <div class="card-footer">
                                <hr>
                                <div class="button-container">
                                    <div class="row">
                                        <div class="col-lg-3 mr-auto">
                                            <h5>{{item.wins}} <br><small>Wins</small></h5>
                                        </div>
                                        <div class="col-lg-3 mr-auto">
                                            <h5>{{item.losses}} <br><small>Losses</small></h5>
                                        </div>
                                        <div class="col-lg-3 mr-auto">
                                            <h5>{{item.level}} <br><small>Level</small></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>